$notewidth: 200px;
$noteheight: 200px;
$notepadding: 5px;
$bodypadding: $notepadding*2;
$textboxsize: 180px;

body {
  font-family: "Roboto", sans-serif;
  color: rgb(10%, 10%, 10%);
  background: darken(white, 10%);
  margin: 50px;
}

#note {
  position: absolute;
  resize: both;
  overflow: auto;
  border-color: rgb(150,150,150);
  border-style:solid;
  border-width: thin;
  background-color: white;
  width: $notewidth;
  height:$noteheight;
  padding: $notepadding;

  #title {
    width: inherit;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    ul {
      list-style:none;
      padding:0px;
      margin:0px;
      li {
        float:left;
      }
    }
    #arrows {
      float: right;
    }

  }

  #body {
    display: inline;
    word-wrap: break-word;
    overflow: auto;
    width: inherit;
  }
}

#controls {
  display: flex;
  justify-content: space-between;
  #note-bar {
    align-self: flex-start;
    padding:0px;
    margin:0px;
  }
  #delete-button {
    align-self:flex-end;
    padding:0px;
    margin:0px;
  }

  input[type=text] {
    padding: $notepadding;
    border-radius: $notepadding;
    border: none;
    font-size: 1.25em;
    margin: $notepadding;
  }

  input[type=submit] {
    padding: $notepadding;
    font-size: 1.25em;
    box-sizing: content-box;
    background-color: white;
    border:none;
    border-radius: $notepadding;
  }

  button {
    padding: $notepadding;
    border-radius: $notepadding;
    border: none;
    background-color: red;
    font-size: 1.25em;
  }
}
