$notewidth: 200px;
$noteheight: 200px;
$notepadding: 5px;
$textboxsize: 180px;

body {
  font-family: "Roboto", sans-serif;
  color: rgb(10%, 10%, 10%);
  background: darken(white, 10%);
  margin: 50px;
}

#note {
  border-color: rgb(150,150,150);
  border-style:solid;
  border-width: thin;
  background-color: white;
  max-width: $notewidth;
  min-height:$noteheight;
  #title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    ul {
      list-style:none;
      padding:$notepadding;
      margin:0px;
      li {
        float:left;
      }
    }
    #arrows {
      float: right;
      padding: $notepadding;
    }

  }

  #body {
    padding:$notepadding;
    word-wrap: break-word;
    textarea {
      width:$textboxsize;
    }
  }
}

input[type=text] {
  padding: $notepadding $notepadding;
  border-radius: $notepadding;
}

input[type=submit] {
  padding: $notepadding;
}
